.DS_Store

/.bundle/
/Gemfile.lock
/.byebug_history
/coverage/
/spec/reports/
/tmp/
*.bundle

# Ignore yardoc object cache and generated docs
/.yardopts
/.yardoc

# Ignore ydoc output files
/doc/yard/

# Ignore rdoc output files
/doc/rdoc/
/doc/rdoc_converted/
